@using HuloToys_Front_End.Models.Products
@using HuloToys_Front_End.ViewModels;
@using HuloToys_Front_End.Utilities;
@model ProductListResponseModel

 
@foreach (var item in Model.items)
{
    <div class="bg-white rounded-xl p-2 text-slate-800 relative border border-gray-100 h-full pb-14">
        <!-- Sale badge -->
        <a href="@Url.Action("Details", "Product", new { id = item._id })">
            <!-- Link đến trang chi tiết sản phẩm -->
            <div class="absolute -top-1 z-10 left-1 bg-[url(assets/images/icon/tag1.png)] bg-contain bg-no-repeat text-white text-xs px-2 w-[50px] h-[30px] py-1">
                -50%
            </div>
            <div class="relative aspect-[1/1] overflow-hidden rounded-lg">
                <img src="@item.avatar" alt="Sản phẩm"
                     class="absolute inset-0 w-full h-full object-cover" />
            </div>
            <p class="text-sm line-clamp-2 font-medium mt-2">@item.name</p>
            <div class="absolute bottom-2 w-full px-2 left-0">
                <div class="text-rose-600 font-bold mt-1">@item.amount_min đ</div>  <!-- Giá -->
                <div class="flex items-center justify-between">
                    <div class="text-xs line-through text-slate-400">@item.amount_max đ</div>  <!-- Giá cũ -->
                    <div class="text-xs text-yellow-500 mt-1">
                        @if (item.rating.HasValue)
                        {
                            @item.rating.Value.ToString("0.0")  <!-- Xếp hạng -->
                        }
                        <span class="text-slate-400">(@item.review_count)</span>  <!-- Số lượng đánh giá -->
                    </div>
                </div>
            </div>
        </a>
    </div>
}
