@using HuloToys_Front_End.Models.Raiting
@{
    Layout = null;
    string StaticDomain = "https://static-image.adavigo.com";
}
@model List<RatingESResponseModel>
@if (Model!=null  && Model.Count > 0)
{
    foreach(var comment in Model)
    {
        <div class="item-commnet">
            <div class="flex-comment">
                <div class="avatar">
                    <img src="@(comment.client_avatar==null ||comment.client_avatar.Trim()==""?"/assets/images/logo.png":comment.client_avatar)" alt="" />
                </div>
                <div class="comment-user">
                    <h4 class="name">@comment.client_name</h4>
                    <div class="review">
                        @for (int i = 0; i < (int)Math.Round((decimal)comment.star); i++)
                        {
                            <i class="icon icon-star"></i>

                        }
                    </div>
                    @{
                        TimeZoneInfo timeZoneInfo = TimeZoneInfo.FindSystemTimeZoneById("SE Asia Standard Time");
                        DateTime comment_date_time = TimeZoneInfo.ConvertTime((DateTime)comment.createddate, timeZoneInfo);
                    }
                    <div class="meta">
                        <span class="time">@(comment_date_time.ToString("dd/MM/yyyy HH:mm"))</span>
                        <span class="cat">@comment.variation_detail</span>
                    </div>

                </div>
            </div>
            <div class="cmt-review">
                @comment.comment

            </div>
            <div id="lightgallery" class="img-product">

                @if (comment.videolink != null && comment.videolink.Trim() != "")
                {
                    @foreach (var vid in comment.videolink.Split(","))
                    {
                        if (vid != null && vid.Trim() != "")
                        {
                            var vid_src = vid;
                            if (!vid_src.Contains(StaticDomain) && !vid_src.Contains("data:video") && !vid_src.Contains("http") && !vid_src.Contains("base64,"))
                                vid_src = StaticDomain + vid;
                            <a data-video='{"source": [{"src":"@vid_src", "type":"video/mp4"}],"attributes": {"preload": false, "controls": false}}'
                               data-poster="/assets/images/product.jpg">
                                <i class="icon-video"></i>

                                <img src="/assets/images/product.jpg" width="500" height="300" />
                            </a>

                        }
                    }
                }
                @if (comment.imglink != null && comment.imglink.Trim() != "")
                {
                    @foreach (var img in comment.imglink.Split(","))
                    {
                        if (img != null && img.Trim() != "")
                        {
                            var img_src = img;
                            if (!img_src.Contains(StaticDomain) && !img_src.Contains("data:image") && !img_src.Contains("http") && !img_src.Contains("base64,"))
                                img_src = StaticDomain + img;
                            <a href="@img_src" data-lg-id="3e1fbec2-9c35-461a-b9cc-79fd1d885438">
                                <img src="@img_src" width="500" height="300">
                            </a>

                        }
                    }
                }

            </div>
           
        </div>
      
    }
}

